@font-face {
    font-family: Montserrat;
    src: local("Montserrat"),
         url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"),
         url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
         url("../fonts/Montserrat/Montserrat-Regular.svg") format("svg");
    font-weight: normal;
  }
  @font-face {
    font-family: Montserrat;
    src: local("Montserrat"),
         url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"),
         url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
         url("../fonts/Montserrat/Montserrat-Bold.svg") format("svg");
    font-weight: bold;
  }
  @font-face {
    font-family: Quicksand;
    src: local("Quicksand"),
         url("../fonts/Quicksand/Quicksand-Regular.ttf") format("truetype"),
         url("../fonts/Quicksand/Quicksand-Regular.woff") format("woff"),
         url("../fonts/Quicksand/Quicksand-Regular.svg") format("svg");
    font-weight: normal;
  }
  @font-face {
    font-family: Quicksand;
    src: local("Quicksand"),
         url("../fonts/Quicksand/Quicksand-Bold.ttf") format("truetype"),
         url("../fonts/Quicksand/Quicksand-Bold.woff") format("woff"),
         url("../fonts/Quicksand/Quicksand-Bold.svg") format("svg");
    font-weight: bold;
  }
  @font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
         url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype"),
         url("../fonts/Open-Sans/OpenSans-Regular.woff") format("woff"),
         url("../fonts//Open-Sans/OpenSans-Regular.svg") format("svg");
    font-weight: normal;
  }
  @font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
         url("../fonts/Open-Sans/OpenSans-Bold.ttf") format("truetype"),
         url("../fonts/Open-Sans/OpenSans-Bold.woff") format("woff"),
         url("../fonts/Open-Sans/OpenSans-Bold.svg") format("svg");
    font-weight: bold;
  }