include ../../blocks/text-field/text-field

<!DOCTYPE html>
html(lang="en", class="root")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title Form elements
    body(class="form-elements")
        .form-elements__col-1
            +text-field({hasHeaderDescription: true,
                        hasHeader: true,
                        description: 'default', 
                        header: 'text field', 
                        placeholder: 'email', 
                        condition: '',
                        type: 'email',
                        value: '',
                        classes: ''})  