include ../../blocks/text-field/text-field
include ../../blocks/birdie-element/birdie-element
include ../../blocks/dropdown/dropdown


<!DOCTYPE html>
html(lang="en", class="root")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title Form elements
    body(class="form-elements")
        .form-elements__col-1
            +text-field({
                hasHeaderDescription: true,
                hasHeader: true,
                headerDescription: 'default', 
                header: 'text field', 
                inputPlaceholder: 'email', 
                inputCondition: '',
                inputType: 'email',
                inputValue: '',
                inputClasses: ''})  
            +text-field({
                hasHeaderDescription: true,
                hasHeader: true,
                headerDescription: 'hover / focus', 
                header: 'text field', 
                inputPlaceholder: 'email', 
                inputCondition: '',
                inputType: 'text',
                inputValue: 'This is pretty awesome',
                inputClasses: ''})
            +dropdown({
                hasHeaderDescription: true,
                headerDescription: 'default',
                header: 'dropdown',
                inputPlaceholder: '',
                inputType: 'text',
                inputValue: '',
                inputClasses: '',
            })