@import '../../sass/variables';

.header-element{
    line-height: 15px;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; 
    &__header{
        margin: 0;
        font-size: 1.2rem;
        font-weight: bold;
        color: $dark-shade-100; 
    }
    &__description{
        margin: 0;
        color: $dark-shade-50; 
    }
}
