//-
  Свойства миксина text-input:
    
    properties.inputClasses - дополнительные классы, передаваемые в блок (string)
    properties.inputPlaceholder - текст placeholder-а в input-е (string) 
    properties.inputValue - значение input-а (string)  
    properties.inputType - тип input-а (string)

mixin text-input(properties)
    input(class=`${properties.inputClasses} text-input`, type=properties.inputType, placeholder=properties.inputPlaceholder, value=properties.inputValue)